@using LC.Home.Blitz.Data.Models;
@using System.Threading;

@{
    ViewData["Title"] = _localizer["Title"];
}

@section CSS {
	<lc:include src="Index.css" />
}

<div class="dis-table mrg-auto">
    <div class="row">
        <div class="col-md-5 show-md">
            <img src="/IMAGE/logo.png" class="logo r" alt="Logo" title="Logo" />
        </div>
        <div class="col-xs-12 col-md-7 align-center">
            <h1 class="f-4 f-5-sm f-8-md ws-nowrap">@_sharedLocalizer["CoName"]</h1>
            <h2 class="h5 h4-md h3-lg slogan">-@_sharedLocalizer["CoSlogan"]-</h2>
            <h3 class="h4 h3-md h2-lg points">@_sharedLocalizer["WordDesign"]<span class="separator">|</span>@_sharedLocalizer["WordDevelopment"]<span class="separator">|</span>@_sharedLocalizer["WordHosting"]</h3>
            <div class="flex-center-center links">
                <a asp-action="OmLundbeckConsulting" class="f-3 f-6-md f-7-lg link ws-nowrap"><icon type="UserNinja" /> @_sharedLocalizer["PhraseAboutMe"]</a><span class="separator">|</span><a asp-action="MineProsjekter" class="f-3 f-6-md f-7-lg link ws-nowrap"><icon type="Code" /> @_sharedLocalizer["WordProjects"]</a>
            </div>
        </div>
    </div>
</div>
<div class="container-auto event-wrap">
    <h2 class="h3">@_sharedLocalizer["WordNews"]</h2>
    <div class="items">
        @foreach(HistoryItem item in await _data.GetHistory(_siteHelper.CurrentCulture.ToString()))
        {
            <a href="@item.URL" target="_blank" class="item">
                <div class="row">
                    <div class="col-md-2"><strong>@item.DateCreated.ToString("dd.MM.yyyy")</strong></div>
                    <div class="col-md-4">@item.Header</div>
                    <div class="col-md-6">@Html.Raw(item.Description)</div>
                </div>
            </a>
        }
    </div>
</div>