@using LC.Home.Blitz.Data.Models;
@using LC.Assets.Components.Extensions;

@{
    ViewData["Title"] = _localizer["Title"];
    ViewData["Header"] = _localizer["Title"];
}

@section CSS {
    <lc:include src="Project.css" />
}

<div class="items">
    @foreach (Project project in await _data.GetProjects(_siteHelper.CurrentCulture.ToString()))
    {
        <div class="item">
            <div class="row">
                <div class="col-md-5">
                    <h2 class="h3 bold">@project.Header</h2>
                </div>
                <div class="col-md-7">
                    @Html.Raw(project.Description)
                    <div class="links">
                        @if (!project.URL.Equals("#"))
                        {
                            <a href="@project.URL" target="_blank" class="btn-info link" title="@_sharedLocalizer["WordVisit"]"><icon type="Globe" /> @_sharedLocalizer["WordVisit"]</a>
                        }

                        @if (!project.GitHubURL.IsNull())
                        {
                            <a href="@project.GitHubURL" target="_blank" class="btn-warning link" title="GitHub"><icon type="GitHub" /> GitHub</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>