@{
    ViewData["Title"] = _localizer["Header"];
    ViewData["Header"] = _localizer["Header"];
}

@section CSS {
    <lc:include src="About.css" />
}

<div class="row">
    <div class="col-md-8">
        <div class="content">
            @_localizer["Body"]
        </div>
    </div>
    <div class="col-md-4">
        <div class="mind-wrap show-md pad-lg align-center">
            <img src="/IMAGE/mind-gears.png" class="mind-gears r" />
        </div>
        <div class="download-wrap pad-doc">
            <p>
                <a href="/FILE/CV.pdf" class="link"><icon type="DocPDF" /> @_localizer["PhraseDownloadCV"]</a>
            </p>
            <p>
                <a href="/FILE/Attester.pdf" class="link"><icon type="DocPDF" /> @_localizer["PhraseDownloadRecommendation"]</a>
            </p>
        </div>

        <div class="contact-wrap pad-doc">
            <h2 class="h3">@_localizer["WordContact"]</h2>
            <p class="flex-center-center pad-doc contact-links">
                <a href="tel:+4792205613" class="link"><icon type="PhoneFull" /> @_sharedLocalizer["WordCall"]</a><span class="separator">|</span><a href="mailto:stein@lundbeckconsulting.no" class="link"><icon type="EnvelopeFull" /> @_sharedLocalizer["WordEmail"]</a>
            </p>
        </div>
    </div>
</div>
<div class="pad-lg align-center tech-logo flex-center-center flex-wrap">
    <a href="https://dotnet.microsoft.com/learn/web/what-is-aspnet-core" target="_blank" title="ASP.NET Core" class="link"><img src="/IMAGE/About/core-logo.png" class="logo" /></a><span class="separator show-md">/</span><a href="https://www.adobe.com/no/products/xd.html" target="_blank" title="Adobe XD / Prototyping" class="link"><img src="/IMAGE/About/adobe-xd-logo.png" class="logo" /></a><span class="separator show-md">/</span><a href="https://analytics.google.com/" target="_blank" title="Google Analytics" class="link"><img src="/IMAGE/About/google-analytics-logo.png" class="logo" /></a><span class="separator show-md">/</span><a href="http://www.serviceuptime.com/" target="_blank" title="Service Uptime" class="link"><img src="/IMAGE/About/uptime-logo.png" class="logo" /></a>
</div>