@using LC.Home.Chips.Models;

@model string

@{ 
    string name = "CV" + Model;
}

<tr>
    <td>@_localizer[name + "Period"]</td>
    <td>
        @_localizer[name + "Name"]
        <br />
        <i class="o-6">@_localizer[name + "Location"]</i>
    </td>
    <td>@_localizer[name]</td>
</tr>
<tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>
        <ul>
            @foreach (string s in _localizer[name + "Points"].Value.Split(","))
            {
                <li>@s.Trim()</li>
            }
        </ul>
    </td>
</tr>
<tr>
    <td colspan="3">&nbsp;</td>
</tr>