@using LC.Home.Chips.Models;
@using LC.Assets.Components.Extensions;

@model SectionModel

@{
    string _mainCssClass = default;
    string _intro = default;
    string _sub = default;
    string _content = default;

    switch (Model.Section)
    {
        case Sections.NewSite:
            _mainCssClass = "newSite";
            _intro = "NewSiteIntro";
            _sub = "NewSiteSub";
            _content = "NewSiteContent";
            break;

        case Sections.OneManBand:
            _mainCssClass = "oneManBand";
            _intro = "OneManBandIntro";
            _sub = "OneManBandSub";
            _content = "OneManBandContent";
            break;

        case Sections.Startup:
            _mainCssClass = "startup";
            _intro = "StartupIntro";
            _sub = "StartupSub";
            _content = "StartupContent";
            break;
    }
}

<section class="info-content-wrap @_mainCssClass">
    <header class="head box">
        <h1 class="intro">@_localizer[_intro]</h1>
        @if (_sub != default)
        {
            <h2 class="sub">-@_localizer[_sub]</h2>
        }
    </header>
    <section class="content box">
        @_localizer[_content]

        @if (Model.Section.Equal(Sections.OneManBand))
        {
            <section class="download-wrap">
                <hr />
                <div class="items flex">
                    <div class="cv-wrap flex-around">
                        <asset icon="DocPDF" href="#" class="read" icon-format="Anchor" icon-text="@_localizer["PhraseReadCV"].Value" icon-size="LG" />
                        <asset icon="DocPDF" href="FILE/@_localizer["CVFilename"].Value" class="download" icon-format="Anchor" icon-text="@_localizer["PhraseDownloadCV"].Value" icon-size="LG" />
                    </div>
                </div>
            </section>
        }
    </section>
</section>
